<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PositionController</servlet-name>
        <servlet-class>com.controller.PositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>com.controller.RoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionsController</servlet-name>
        <servlet-class>com.controller.ActionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>com.controller.UsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesController</servlet-name>
        <servlet-class>com.controller.EmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>com.controller.ClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentController</servlet-name>
        <servlet-class>com.controller.EquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>com.controller.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InUse</servlet-name>
        <servlet-class>com.controller.InUse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InUseController</servlet-name>
        <servlet-class>com.controller.InUseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkingController</servlet-name>
        <servlet-class>com.controller.WorkingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EqController</servlet-name>
        <servlet-class>com.controller.EqController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>com.controller.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TController</servlet-name>
        <servlet-class>com.controller.TController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeCo</servlet-name>
        <servlet-class>com.controller.TeCo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cont</servlet-name>
        <servlet-class>com.controller.Cont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUp</servlet-name>
        <servlet-class>com.controller.MyUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>com.controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkingDetalleController</servlet-name>
        <servlet-class>com.controller.workingDetalleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InUseDetController</servlet-name>
        <servlet-class>com.controller.InUseDetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectControllerE</servlet-name>
        <servlet-class>com.controller.ProjectControllerE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>workingDetalleControllerE</servlet-name>
        <servlet-class>com.controller.workingDetalleControllerE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControllerE</servlet-name>
        <servlet-class>com.controller.UserControllerE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PositionController</servlet-name>
        <url-pattern>/positionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleController</servlet-name>
        <url-pattern>/roleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionsController</servlet-name>
        <url-pattern>/actionsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/usersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/employeesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/clientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentController</servlet-name>
        <url-pattern>/equipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/projectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InUse</servlet-name>
        <url-pattern>/inUse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InUseController</servlet-name>
        <url-pattern>/inUseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkingController</servlet-name>
        <url-pattern>/workingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EqController</servlet-name>
        <url-pattern>/eqController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/testController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TController</servlet-name>
        <url-pattern>/tController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeCo</servlet-name>
        <url-pattern>/teCo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cont</servlet-name>
        <url-pattern>/cont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUp</servlet-name>
        <url-pattern>/myUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/indexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkingDetalleController</servlet-name>
        <url-pattern>/workingDetalleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InUseDetController</servlet-name>
        <url-pattern>/inUseDetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectControllerE</servlet-name>
        <url-pattern>/projectControllerE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>workingDetalleControllerE</servlet-name>
        <url-pattern>/workingDetalleControllerE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControllerE</servlet-name>
        <url-pattern>/userControllerE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
